footer.site-footer
  .container
    nav
      ul.nav-footer-rtl
        li.section
          a.nav-title(href=pageUrl("he/#")) אודות
          ul
            li
              a(href=pageUrl("about/team.html")) הצוות
            //-li
              a(href=pageUrl("about/speakers.html")) #[strong מרצים]
            //-li
              a(href=pageUrl("about/tickets.html")) כרטיסים
            //- li
              a(href=pageUrl("about/sponsorship.html")) ספונסורים
            li
              a(href=pageUrl("about/code-of-conduct.html")) #[strong כללי התנהגות]
            li
              a(href='https://goo.gl/maps/qvZwf6Ju3Wq') מקום
  //-
        li.section
          a.nav-title(href=pageUrl("getting-here/")) איך מגיעים
          ul
            li
              a(href=pageUrl("getting-here/#travel")) נסיעות
            li
              a(href=pageUrl("getting-here/#accommodation")) ארוח

        li.section
          a.nav-title(href=pageUrl("talks/")) הרצאות
          ul
            li
              a(href=pageUrl("talks/")) לוח זמנים
            li
              a(href=pageUrl("talks/#directions")) מקום

        li.section
          a.nav-title(href=pageUrl("workshops/")) ספרינטים וסדנאות
          ul
            li
              a(href=pageUrl("workshops/")) לוח זמנים
            li
              a(href=pageUrl("workshops/#directions")) מקום
            //- li
            //-   a(href=pageUrl("workshops/registration.html")) #[strong הרשמה]


  .social-links
      | פרסם את #[strong PyCon IL!]
      ul
        li
          a(href='https://twitter.com/pyconil')
            i.fa.fa-twitter
        //-li
          a(href='https://www.facebook.com/events/1624916497723396/')
            i.fa.fa-facebook
        //-li
          a(href='http://lanyrd.com/2015/pyconcz/')
            i.fa.fa-calendar-check-o
        li
          a(href='https://github.com/Hamakor/il.pycon.org-2016')
            i.fa.fa-github
        //-li
          a(href='https://pyconcz.slack.com')
            i.fa.fa-slack
        li
          a(href='mailto:info@pycon.org.il')
            i.fa.fa-envelope

    .website-license
      p The PyCon IL Website is inspired by and based on the #[a(href='https://cz.pycon.org/2015/') PyCon CZ] Website with the MIT license. Huge thanks to the Czech Python community for sharing their resources the open source way!

    .psf-trademark
      p.
        #[a(href="https://www.python.org/psf/trademarks/pycon/") PyCon™] 
        is a trademark for worldwide conference activities claimed by
        #[a(href="https://www.python.org/psf-landing/") Python Software Foundation]
