extends ../base
//- HIDE FOR NOW
//- render single speaker

mixin talk(speaker)
  .talk-description
    h3.speaker
      = speaker.name

    .misc
      small=speaker.time
      small.track
        = speaker.track
        |  branch
      a.social.github(href="https://github.com/" + speaker.github)
        .fa.fa-github
      a.social.twitter(href="https://twitter.com/" + speaker.twitter)
        .fa.fa-twitter

    p= speaker.title
    
    
  .commit-holder
    .commit
      img.avatar(src=avatar(speaker.avatar), alt='Photo of ' + speaker.name)
    
mixin branch-out()
  .branch.out
    img(
      src="/2016/static/images/ui/branch-out.svg",
      onerror="this.onerror = null; this.src = '/2016/static/images/ui/branch-out.png'"
    )

block vars
  - var pageClass = "page-talks"
  - var activePage = "talks"

block viewport
  .container
    h1 Talks &amp; Keynotes
    
    .event-full.general
      h2.title Registration #[small 8:00]
      .talk-description
        p.
          Grab your swag bag and coffee. #[br]
          Meet our sponsors and get ready for a day full of awesome talks!
      
      .commit.empty.first
        .dot

    .event-full.general
      h2.title The grand opening #[small 8:55]
      .talk-description
        p.
          Welcome to the first #[strong PyCon IL]! #[br]
          Proud to bring great talks and speakers, both from Israel and abroad.
      
      .commit.empty
        .dot
    
    .event-full
      h2.title.travis Keynote #1 #[br] Topic TBD #[small 9:00]
      .talk-description
        .speaker Travis Oliphant
        p.
            CEO of Continuum Analytics, NumFOCUS founder, NumPy, SciPy and 
            Numba creator.
        a.social.github(href="https://github.com/teoliphant")
          .fa.fa-github
        a.social.twitter(href="https://twitter.com/teoliphant")
          .fa.fa-twitter
         
      .commit
        img.avatar(
          src=avatar("travis_cropped.jpg"),
          alt='Photo of Travis Oliphant'
        )

    .event-full
      h2.title.olas Keynote #2 #[br] Topic TBD #[small 10:00]
      .talk-description
        .speaker Ola Sendecka
        //- p.

        //- a.social.github(href="https://github.com/freakboy3742")
          //- .fa.fa-github
        //- a.social.twitter(href="https://twitter.com/freakboy3742")
          //- .fa.fa-twitter
         
      .commit
        img.avatar(
          src=avatar("ola_sendecka.jpg"),
          alt='Photo of Ola Sendecka'
        )

    .event-full
      h2.title.olas 
      .talk-description
        .speaker Ola Sitarska
        //- p.

        //- a.social.github(href="https://github.com/freakboy3742")
          //- .fa.fa-github
        //- a.social.twitter(href="https://twitter.com/freakboy3742")
          //- .fa.fa-twitter
         
      .commit
        img.avatar(
          src=avatar("ola_sitarska.jpg"),
          alt='Photo of Ola Sitarska'
        )


    .event-full
      h2.title.raymond Keynote #3 #[br] Topic TBD #[small 11:00]
      .talk-description
        .speaker Raymond Hettinger
        p.
            Python core developer for 14 years. Creator of the collections 
            module and itertools module.
        a.social.github(href="https://github.com/raymondh")
          .fa.fa-github
        a.social.twitter(href="https://twitter.com/raymondh")
          .fa.fa-twitter
         
      .commit.empty
        .dot

    .event-full
      h2.title Lunch Break #[small 12:00]
      .talk-description
        p.
          We'll break for lunch, then return to the main conference.
      
      .commit.empty
        .dot

    .event-full
      h2.title 2 Tracks #[small 13:00]
      .talk-description
        p.
          The main conference will feature two tracks, with speakers on 
          a range of topics.

        p. 
          Speakers and talk topics will be anounced soon.

        p. 
          Interested in being a speaker? 
        p. 
          #[a(href="http://goo.gl/forms/iEBqCcqFtI") Submit a talk proposal]!

      
      .commit.empty.last
        .dot


    p.note.
      Please note: Scheduling is not final, and will likely change before the
      conference starts.
    
    //- .branch-description
      //- .branch-name
        //- .master Track 1 (theme TBD)
      //- .branch.in
        //- img(
          //- src="/2016/static/images/ui/branch-in.svg",
          //- onerror="this.onerror = null; this.src = '/2016/static/images/ui/branch-in.png'"
        //- )
      //- .branch-name
        //- .practical Track 2 (theme TBD)

      //- .talk-block
        //- .event.master
          //- .talk-description
              //- p. 
                  //- test


        //- .event.practical
          //- p.  
            //- test
    
    

    //- h2.visible-xs-block Talks
    //- p.visible-xs-block.
      //- Two parallel branches of talks are going to be held in two rooms: D105 and
      //- D0206. The #[strong Master branch] in D105 will be about general topics,
      //- while the #[strong Practical branch] in D0206 will present more specific ones.
    
    //-  Iterate over speakers object (loaded in gulpfile from data/speakers.json)
    //-  and render mixin talk() (see above)
    //- each speaker, index in speakers
      //- .talk-block
        //- .event.master
          //- +talk(speaker[0])

        //- .event.practical
          //- +talk(speaker[1])

    //- +branch-out()
    
    //- .event-full.general
      //- .title
        //- h2 Lightning talks #[small 18:30]
      //- .talk-description
        //- p.
          //- There is only one rule of lightning talks: #[br]
          //- 5 mins and hard cut. Get on stage and share your experience!
      
      //- .commit.empty
        //- .dot
    
    //- .event-full.general
      //- .title
        //- h2 Thank you #[small 19:00]
      //- .talk-description
        //- p.
          //- The first day of PyCon CZ is over.
          //- Wrap it up and enjoy the evening party.
          //- See you tomorrow at the sprint venue!
      
      //- .commit.empty.last
        //- .dot
