extends base

block vars
  - var pageClass = "home"

block viewport
  .pycon
    img.pycon-logo(
      alt="PyCon IL",
      src='/'+year+"/static/images/pycon-il-logo-new.png",
      onerror="this.onerror = null; this.src = '/2015/static/images/pycon-il-logo-new.png'"
    )
    
    h1
      | PyCon ישראל
      span.year= year

    .pycon-info
      p.pycon-location תל אביב, ישראל
      p.pycon-date 2–3 במאי

  .claim
    .container
      p.
        כנס #[strong PyCon] הראשון ב#[strong ישראל]. הצטרפו אלינו
        ליומיים של הרצאות, התוודעות וכיף, סביב שפת התכנות Python.

  .container
    .program
      .program-item-rtl
        h2 רוצה להרצות?
        p.
          מעוניינ/ת להעביר הרצאה בכנס Pycon הראשון בישראל?
          #[a(href="http://goo.gl/forms/iEBqCcqFtI") שלח/י הצעת הרצאה]!
        p. 
          יש שאלות? ניתן לפנות אלינו ישירות בכתובת
          #[a(href="mailto:cfp@pycon.org.il") cfp@pycon.org.il]
        p. 
          התאריך האחרון להגשת הצעות הוא 2 באפריל 2016.

        //- img(src=pageUrl("/static/images/venue/ayalon_mall.jpg") height=200)
        //- img(src=pageUrl("/static/images/venue/yes_logo.png") height=200)
        //- p.
          //- #[strong One] day, #[strong two] parallel tracks, #[strong two] keynotes
          //- and #[strong ten] awesome talks. Community, web, hardware, science, devops and more.

      .program-item-rtl
        h2 מיקום
        //- .date Saturday 14th
        p.
          הכנס יתקיים בקניון איילון, במתחם הקולנועים Yes Planet.
        .venue
          i.fa.fa-map-marker
          span.
            #[a(href="https://goo.gl/maps/qvZwf6Ju3Wq") Yes Planet, קניון איילון, רמת גן]

    .registration
      h2 הרשמה
      p.lead.
        מכירת הכרטיסים תפתח בקרוב! עקבו אחרינו ב-#[a(href="https://twitter.com/pyconil") Twitter] לעדכונים.

    .djangogirls
      h2 Django Girls
      p.lead.
        הצטרפו לסדנה הראשונה של #[a(href="https://djangogirls.org/telavivjaffa") Django Girls תל אביב-יפו] ב-1 במאי!

    .sponsors
      h2 חסויות
      p.lead. 
        מעוניינים לתמוך ב-PyCon ישראל? #[a(href="mailto:info@pycon.org.il") שלחו לנו דוא&#34;ל] והצטרפו אלינו כנותני חסות!

      .diamond-rtl
        h3 חסות יהלום
        .sponsor
          a(href="https://www.redhat.com/en/global/israel ")
            img(src=pageUrl("static/images/sponsors/redhat_resized.png"))

        .sponsor
          a(href="http://www.cymmetria.com")
            img(src=pageUrl("static/images/sponsors/cymmetria.jpg"))

      .gold-rtl
        h3 חסות זהב
        .sponsor
          a.sponsor-psf(href="http://xtremio.com/")
            img(src=pageUrl("static/images/sponsors/xtremio.png"))
        //- .sponsor
          //- a.sponsor-twisto(href="https://www.twisto.cz")
            //- img(src=pageUrl("/static/images/sponsors/twisto.png"))

      .silver-rtl
        h3 חסות כסף
        .sponsor
          a.sponsor-imper(href="http://www.sentinelone.com")
            img(src=pageUrl("static/images/sponsors/sentinel_one.png"))

        .sponsor
          a.sponsor-psf(href="http://www.dropbox.com")
            img(src=pageUrl("static/images/sponsors/dropbox.png"))

        .sponsor
          a.sponsor-psf(href="http://weare.cisco.com/")
            img(src=pageUrl("static/images/sponsors/cisco.png"))

      .bronze-rtl
        h3 חסות ארד
        .sponsor
          a.sponsor-imper(href="https://www.hpe.com/il/en/home.html")
            img(src=pageUrl("static/images/sponsors/hpe.png"))

        .sponsor
          a.sponsor-imper(href="http://www.applitools.com")
            img(src=pageUrl("static/images/sponsors/applitools.png"))

      .news
        .line
        hr(width="75%", align="center")
        h2 חדשות
        a(class="twitter-timeline", href="https://twitter.com/search?q=pyconil", data-widget-id="707326560232153088", data-chrome="nofooter noheader") ציוצים בעניין pyconil
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

